<div
  class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-2xl transition-shadow h-full flex flex-col"
>
  <!-- Product Image Section -->
  <div
    class="w-full h-64 flex justify-center items-center bg-gray-100"
    [routerLink]="'/products/' + product._id"
  >
    <img
      [src]="product.images[0]"
      alt="{{ product.name }}"
      class="h-full w-full object-contain p-4"
    />
  </div>

  <!-- Product Details Section -->
  <div class="p-4 flex-1 flex flex-col justify-between">
    <!-- Product Name and Description -->
    <div>
      <h6 class="text-lg font-semibold mb-2">{{ product.name }}</h6>
      <p class="text-gray-500 mb-4">{{ product.shortDescription }}</p>
    </div>

    <!-- Price and Actions -->
    <div class="flex justify-between items-center">
      <!-- Product Price -->
      <span class="text-2xl font-bold text-green-600"
        >{{ product.price }}$</span
      >

      <!-- Wishlist and Cart Actions -->
      <div class="flex gap-3">
        <!-- Add to Wishlist Button -->
        <button
          mat-fab
          color="primary"
          (click)="addToWishlist(product)"
          class="hover:bg-gray-200 p-2 rounded-full"
        >
          <ng-container [ngSwitch]="isInWishlist(product)">
            <mat-icon *ngSwitchCase="true" class="text-red-500"
              >favorite</mat-icon
            >
            <mat-icon *ngSwitchCase="false" class="text-gray-500"
              >favorite_border</mat-icon
            >
          </ng-container>
        </button>

        <!-- Add to Cart Button -->
        <button
          mat-fab
          color="warn"
          (click)="addToCart(product)"
          class="hover:bg-gray-200 p-2 rounded-full"
        >
          <ng-container [ngSwitch]="isProductInCart(product._id!)">
            <mat-icon *ngSwitchCase="true" class="text-black"
              >remove_shopping_cart</mat-icon
            >
            <mat-icon *ngSwitchCase="false" class="text-black"
              >add_shopping_cart</mat-icon
            >
          </ng-container>
        </button>
      </div>
    </div>
  </div>
</div>
